# Frequency

How frequently does a bus or train pass here?

In [27]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from scripts.preprocessing import stop_data, gtfs
from Transit_Quality_Study.transit_quality_study.config import processed_data_dir

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

GTFS_Functions already provides a stop_freq DataFrame:

In [26]:
gtfs.stop_freq.head()

,stop_id,direction_id,window,ntrips,min_per_trip,stop_name,geometry
0,1,0,0:00-24:00,1857,0,Station Henri-Bourassa,POINT (-73.66817 45.55528)
1,1,1,0:00-24:00,1841,0,Station Henri-Bourassa,POINT (-73.66817 45.55528)
2,10,0,0:00-24:00,1841,0,Station Sherbrooke,POINT (-73.56922 45.51906)
3,10,1,0:00-24:00,1841,0,Station Sherbrooke,POINT (-73.56922 45.51906)
4,12,0,0:00-24:00,1841,0,Station Champ-de-Mars,POINT (-73.5566 45.51005)
...,...,...,...,...,...,...,...
10286,9999114,1,0:00-24:00,1433,1,Station Berri-UQAM,POINT (-73.56101 45.51519)
10287,9999492,0,0:00-24:00,1841,0,Station Snowdon,POINT (-73.62773 45.48543)
10288,9999492,1,0:00-24:00,1841,0,Station Snowdon,POINT (-73.62773 45.48543)
10289,9999495,0,0:00-24:00,1575,0,Station Snowdon,POINT (-73.62776 45.4854)
10290,9999495,1,0:00-24:00,1575,0,Station Snowdon,POINT (-73.62776 45.4854)

However, it does not use stop_codes, which are what we rely on to identify stations in the rest of the project.

Therefore, we must provide stop_codes. This can easily be done by using geopandas spatial join.

In [28]:
stops = stop_data[['geometry']]
stop_freq = (stops
             .sjoin(gtfs.stop_freq)
             .groupby(['stop_code'])
             .sum('ntrips'))
stop_freq = pd.DataFrame(stop_freq[['ntrips']])
stop_freq.to_parquet(processed_data_dir / 'stop_frequency.parquet')
stop_freq.head()